<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="icon" href="./images/icon.png">     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">   
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/book.css">
</head>

<body>
 <nav class="navbar fixed-top navbar-expand-lg navbar-default"style="background-color:rgb(233, 157, 16); color=black ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./images/icon1.jpg" width="30" height="30" alt="" class="d-inline-block align-top" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto w-100 ">
        <%for(i=0;i<nav.length;i++){%>
          <li class="nav-item"style="font-size:1vw">
            <a class="nav-link"  style="color: black;"  href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        &nbsp&nbsp&nbsp
        <%}%>      
      </ul>
      <div class="ml-auto">
          <a class="btn  btn-sm" type="submit" href="<%=logout[0].link%>" style="background-color:yellow;width: 80px;"><%=logout[0].name%></a>
       </div>
      </div>
    </div>
   </nav>
  <br><br>
  
          <section>
            <div class="card">
              <div class="card-image">
                <div class="background-image"><img src="/images/<%=book.img%>"></div>
                <div class="publication-details">
                  <a href="" class="author">
                    <i class="far fa-user"></i>
                    <%=book.author%></a>
                </div>
              </div>
        
              <div class="card-content">
                <h1 class="title"> <%=book.name%></h1>
                <h2 class="subtitle"><%=book.genre%></h2>
                <p class="description">
                  <%=book.description%>
                </p>
                <div class="cta">
                  <a class="link" href="<%=book.description%>"><%=book.author%> &rarr;</a>
                </div>
              </div>
            </div>
          </section>
             <!-- footer starts here -->
             <footer class="py-2 fixed-bottom text-white-100"  style="background-color:rgb(233, 157, 16);border-top:10px solid yellow ; margin-top: 30px;">
              <div class="container text-center">
                <p style="color: rgb(58, 50, 3);">Copyright 2020 &copy; Central Library Kollam  All Rights Reserved</p>
              </div>
            </footer>       
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>        
<script src="/js/bootstrap.min.js"></script>

</body>
</html>
